{
  "plugins": [
    "@prettier/plugin-php"
  ],
  "overrides": [
    {
      "files": "*.php",
      "options": {
        "parser": "php",
        "tabWidth": 4,
        "singleQuote": false,
        "printWidth": 100
      }
    }
  ]
}
